* {
    text-align: center;
    text-shadow: chocolate;
    color: burlywood;
    background-color: brown;
}

nav a {
    background: chocolate;
}

td:hover {
    background: #eb7434;
}

th:hover {
    background: #67d6c2;
}

.intro {
    text-align: left;
    justify-content: left !important;
    border: 2px solid brown;
}