* {
    text-align: center;
    text-shadow: chocolate;
    color: burlywood;
    background-color: brown;
}

td:hover {
    background: #eb7434;
}

th:hover {
    background: #67d6c2;
}

.intro {
    justify-content: left;
}
img {
    width: 150px;
    height: 225px;
}